/* General styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

}

.navbar .logo {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.navbar nav a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar nav a:hover {
    text-decoration: underline;
}
/* Home section */
.home {
    text-align: center;
    padding: 50px 20px;
    background-color: #eaf6ff;
}

.home h1 {
    font-size: 2em;
    color: #007acc;
    margin-bottom: 20px;
}

.home img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    width: 50%;
}

.home p {
    font-size: 1.1em;
    margin: 10px 0;
}

/* Products section */
.products {
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.products div {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.products h1 {
    font-size: 1.8em;
    color: #007acc;
    margin-bottom: 10px;
}

.products p {
    font-size: 1em;
    line-height: 1.6;
    color: #555;
    max-width: 600px;
}

.products img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}

/* Individual product containers */
.products div > div {
    flex: 1;
    min-width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Contact Us section */
.contactus {
    display: flex;
    padding: 40px;
    background-color: #ececec;
    justify-content: space-around;
    gap: 20px;
}

.contactus .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactus h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.contactus p {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.contactus a {
    color: #333;
    text-decoration: none;
}
.contactus a:hover {
    text-decoration: underline;
}

/* Map iframe */
.contactus .map iframe {
    width: 600px;
    height: 450px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .products div {
        flex-direction: column;
        gap: 20px;
    }
    .products img {
        max-width: 100%;
    }

    .products div > div {
        min-width: 100%;
    }

    .contactus {
        flex-direction: column;
    }
    .contactus .contact-info {
        text-align: center;
        align-items: center;
    }

    .contactus .map iframe {
        width: 100%;
    }

}


